* {
  margin: 0;
  padding: 0;
}
.btn-1 {
  background: rgb(254, 254, 97);
  font-family: sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  border: none;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 40px;
  border-radius: 30px;
}
.toogle {
  border: none;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 40px;
  border-radius: 30px;
}
.is-toogle {
  background: rgb(162, 0, 255);
  color: aliceblue;
}
.is-mode-on {
  background: red;
}
