* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
.btn-1 {
  background: rgb(254, 254, 97);
  font-family: sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  border: none;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 40px;
  border-radius: 30px;
}
.toogle {
  border: none;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
}
.is-toogle {
  background: rgb(162, 0, 255);
  color: aliceblue;
}
.three-btns {
  padding: 30px;
}
.mode_btn {
  border: none;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  background: #252525;
  color: #23ff0f;
}
.is-mode-on {
  color: #252525;
  background: #23ff0f;
}

.button-toogle {
  padding: 20px 30px;
  border: none;
  border-radius: 40px;
  outline: none;
  margin: 15px;
  font-weight: bolder;
}

.active {
  background: linear-gradient(to right, rgb(83, 249, 255), rgb(255, 129, 249));
  color: rgb(10, 0, 155);
}
.inactive {
  background-color: rgb(255, 146, 250);
  color: rgb(0, 247, 255);
}
